.App {
  font-family: sans-serif;
  text-align: center;
  font-size: 50px;
}
body {
  background: #5e6472;
}

.App {
  display: flex;
  gap: 10rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.imageslider {
  margin: 50px;
  align-self: center;
}
.typeanimation {
  align-self: center;
}
.slide-container {
  width: 500px;
  height: auto;
}
